{sub_dirs, ["apps", "apps"]}.
{lib_dirs, ["apps", "deps"]}.
{deps_dir, "deps"}.
{deps, [
    {mad,     ".*",   {git, "git://github.com/synrc/mad.git",       {tag, "1.9"} }},
    {sh,      ".*",   {git, "git://github.com/synrc/sh",            {tag, "1.4"}    }},
    {active,  ".*",   {git, "git://github.com/synrc/active",        {tag, "0.9"}    }},
    {n2o,     ".*",   {git, "git://github.com/5HT/n2o",             {tag, "2.9"}    }}
]}.
